<div class="container">
  <div class="container-login">
    <h1>Cadastrar usuário</h1>
    <form>
      <label>Nome:</label> <br />
      <input type="text" placeholder="Digite seu nome" /> <br />

      <label>Email:</label> <br />
      <input type="text" placeholder="Digite seu email" /><br />

      <label>Senha:</label> <br />
      <input type="text" placeholder="Digite sua senha" /><br />

      <label>Cidade:</label> <br />
      <input type="text" placeholder="Digite sua cidade" /> <br />

      <label>Bairro:</label> <br />
      <input type="text" placeholder="Digite seu bairro" /> <br />

      <label>Rua:</label> <br />
      <input type="text" placeholder="Digite sua rua" /> <br />

      <button>Cadastrar</button>
    </form>
  </div>
</div>
